<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwf.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.wwf.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="job" property="job" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	

	<select id="selectByUserLogin" parameterType="UserLogin" resultType="User">
		select * from user where username = #{username} and password = #{password}
	</select>
	
	<select id="selectByMultiQuery" parameterType="MultiQuery" resultType="User">
	select * from user 
	<where>
	<if test="id != null">id = #{id}</if>
	<if test="username != null and username != ''">and username like '%${username}%'</if>
	<if test="country != null and country != ''">and country like '%${country}%'</if>
	<if test="job != null and job != ''">and job like '%${job}%'</if>
	</where>
	</select>

	<select id="selectByPrimaryKey" resultType="User"
		parameterType="java.lang.Integer">
		select * from user where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id}
	</delete>

	<insert id="insert" parameterType="User">
		insert into user ( id, username, email, telephone, password, flag, country, job)
		values (#{id}, #{username},	#{email}, #{telephone}, #{password}, #{flag}, #{country}, #{job})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="User">
		update user
		set 
		username = #{username},
		email = #{email},
		telephone = #{telephone},
		password = #{password},
		country = #{country},
		job = #{job}
		where id=#{id}
	</update>
	
	<select id="selectAll" resultType="User">
		select * from user
	</select>
	
</mapper>